@page
@model LoginModel
@{
    ViewData["Title"] = "Вход";
}

<div class="auth-page">
    <div class="auth-box">

        <h2>Вход в системата</h2>

        <form id="account" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Input.UserName" class="form-control mb-3" placeholder="Потребителско име" />

            <input asp-for="Input.Password" class="form-control mb-3" type="password" placeholder="Парола" />

            <div class="form-check mb-3 text-start">
                <input asp-for="Input.RememberMe" class="form-check-input" />
                <label class="form-check-label">Запомни ме</label>
            </div>

            <button type="submit" class="btn btn-primary">Вход</button>

        </form>

        <div class="auth-links">
            <a asp-page="./ForgotPassword">Забравена парола</a>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}