@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="auth-page">
    <div class="auth-box">

        <h2>Създай нов акаунт</h2>

        <form id="registerForm" method="post">

            <input asp-for="Input.UserName" class="form-control mb-2" placeholder="Потребителско име" />
            <input asp-for="Input.FirstName" class="form-control mb-2" placeholder="Име" />
            <input asp-for="Input.LastName" class="form-control mb-2" placeholder="Фамилия" />
            <input asp-for="Input.Email" class="form-control mb-2" placeholder="Имейл" />
            <input asp-for="Input.PhoneNumber" class="form-control mb-2" placeholder="Телефон" />
            <input asp-for="Input.Password" class="form-control mb-2" type="password" placeholder="Парола" />
            <input asp-for="Input.ConfirmPassword" class="form-control mb-3" type="password" placeholder="Потвърди парола" />

            <button type="submit" class="btn btn-primary">Регистрация</button>

        </form>

        <div class="auth-links">
            <a asp-page="./Login">Вече имаш акаунт? Вход</a>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
