@model ASPRestaurant.Data.Table

<div class="create-page">
    <div class="create-card">

        <h1>Маса</h1>
        <h4>Добавяне на нова маса</h4>

        <form asp-action="Create">

            <input asp-for="Description" class="form-control" placeholder="Описание" />
            <input asp-for="TableNumber" class="form-control" placeholder="Номер" />
            <input asp-for="Count" class="form-control" placeholder="Брой места" />

            <button type="submit" class="btn btn-primary mt-2">Запази</button>

        </form>

        <a asp-action="Index" class="back-link">⬅ Назад</a>

    </div>
</div>