@model ASPRestaurant.Data.Drink

<div class="create-page">
    <div class="create-card">

        <h1>Напитка</h1>
        <h4>Добави нова напитка</h4>

        <form asp-action="Create">

            <input asp-for="Name" class="form-control" placeholder="Име" />
            <input asp-for="Description" class="form-control" placeholder="Описание" />
            <input asp-for="Litre" class="form-control" placeholder="Литри" />
            <input asp-for="Price" class="form-control" placeholder="Цена" />
            <input asp-for="CoverImage" class="form-control" placeholder="Снимка URL" />

            <select asp-for="TypeOrderId" class="form-control" asp-items="ViewBag.TypeOrderId"></select>

            <button type="submit" class="btn btn-primary mt-2">Запази</button>

        </form>

        <a asp-action="Index" class="back-link">⬅ Назад</a>

    </div>
</div>