@model ASPRestaurant.Data.Reservation

<div class="create-page">
    <div class="create-card">

        <h1>Резервация</h1>
        <h4>Запази маса</h4>

        <form asp-action="Create">

            <input asp-for="NumberOfPeople" class="form-control" placeholder="Брой хора" />
            <input asp-for="Date" class="form-control" />
            <input asp-for="Time" class="form-control" />

            <select asp-for="TableId" class="form-control" asp-items="ViewBag.TableId"></select>

            <button type="submit" class="btn btn-primary mt-2">Резервирай</button>

        </form>

        <a asp-action="Index" class="back-link">⬅ Назад</a>

    </div>
</div>