@model ASPRestaurant.Data.TypeOrder

<div class="create-page">
    <div class="create-card">

        <h1>Категория</h1>
        <h4>Добавяне на нова категория</h4>

        <form asp-action="Create">

            <input asp-for="Name" class="form-control" placeholder="Име на категория" />

            <button type="submit" class="btn btn-primary mt-2">Запази</button>

        </form>

        <a asp-action="Index" class="back-link">⬅ Назад</a>

    </div>
</div>
}
