@model ASPRestaurant.Data.Meal

@{
    ViewData["Title"] = "Създай ястие";
}

<div class="create-page">
    <div class="create-card">

        <h1>Ястие</h1>
        <h4>Добавяне на ново ястие</h4>

        <form asp-action="Create">

            <input asp-for="Name" class="form-control" placeholder="Име" />
            <input asp-for="Alergens" class="form-control" placeholder="Алергени" />
            <input asp-for="Grammage" class="form-control" placeholder="Грамаж" />
            <input asp-for="Price" class="form-control" placeholder="Цена" />
            <input asp-for="CoverImage" class="form-control" placeholder="Снимка URL" />

            <select asp-for="TypeOrderId" class="form-control" asp-items="ViewBag.TypeOrderId"></select>

            <button type="submit" class="btn btn-primary mt-2">Запази</button>

        </form>

        <a asp-action="Index" class="back-link">⬅ Назад</a>

    </div>
</div>