@{
    ViewData["Title"] = "Галерия";
}

<h1 class="page-title">Галерия</h1>

<div class="gallery-grid">

    <img src="/images/beachview.png" />
    <img src="/images/gardenview.jpg" />
    <img src="/images/interior.jpg" />
    <img src="/images/kitchenchef.jpg" />
    <img src="/images/meals.png" />
    <img src="/images/personal.jpg" />
    <img src="/images/restaurantinterior.jpg" />
    <img src="/images/seaview.png" />
    <img src="/images/windowview.jpg" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />
    <img src="/images/beachview.png" />

</div>

