@{
    ViewData["Title"] = "Галерия";
}

<h1 class="page-title">Галерия</h1>

<div class="gallery-grid">

    <img src="/images/1.jpg" />
    <img src="/images/2.jpg" />
    <img src="/images/3.jpg" />
    <img src="/images/4.jpg" />
    <img src="/images/5.jpg" />
    <img src="/images/6.jpg" />

</div>

